# Session 2 - Strings and list objects

# Strings

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

## Creating a String
In Python, either single quote (‘) or double quotes (“) must be used while creating a string.

    For example:

In [ ]:
# Single word
'Hello'

In [ ]:
# Entire phrase 
'I am a student'

In [ ]:
# We can also use double quote
"Holle World"

In [ ]:
# Be careful with quotes!
'I'a doing onternship at Airobosoft'

The above code results in an error as the text “I’m” stops the string. Here, a combination of single quotes and double quotes can be used to get the complete statement.

In [ ]:
#In such cases we can use double quotes
"I'a doing internship atAirobosoft"

Now let's learn about printing strings!

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
s="Hello world"
s

In [ ]:
# note that we can't output multiple strings this way
#In python 2 we can print the text on screen using print "text"
print "hello"
print "Namaste"
#If we use above statements in python 3 it will show the errors

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

### <font color='red'>Python 3 Alert!</font>

Note that, In Python 3, print is a function and not a statement. So you would print statements like this:
print('Hello World')

If you want to use this functionality in Python2, you can import form the __future__ module. 

**Caution: After importing this; you won't be able to choose the print statement method anymore. So pick the right one whichever  you prefer depending on your Python installation and continue on with it.**

In [ ]:
# To use print function from Python 3 in Python 2
from __future__ import print_function 
print "Hello World!"

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [ ]:
len('Hello World')

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [ ]:
# Assign s as a string
str1="Well come to bcet"

In [ ]:
#Check
str1

In [ ]:
# Print the object
print(str1)

Let's start indexing!

In [ ]:
# Show first element (in this case a letter)
str1[0]

In [ ]:
str1[3]

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
str1[1:]

In [ ]:
# Note that there is no change to the original s
str1

In [ ]:
# Grab everything UP TO the 3rd index
str1[:3]

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [ ]:
#Everything
str1[:]

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
str1[-1]

In [ ]:
# Grab everything but the last letter
str1[:-1]

Index and slice notation is used to grab elements of a sequenec by a specified step size (where in 1 is the default size). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
str1[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
str1[::2]

In [ ]:
# We can use this to print a string backwards
str1[::-1]

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced. For example:

In [ ]:
s="Good Morning"
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0]="x"

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [ ]:
str2="Hello! Welcome"

In [ ]:
# Concatenate strings!
str2+'to bcet'

In [ ]:
# We can reassign s completely though!
str2=str2+"to BAngalore"

In [ ]:
print(str2)

In [ ]:
str2

We can use the multiplication symbol to create repetition!

In [ ]:
l="Hello "
l*5

In [ ]:
print(l)
l=l*5
print(l)

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [ ]:
s="Hey James, nice to meet you!"

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('e')

There are many more methods than the ones covered here. To know more about the String functions, Visit the advanced String section.

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 

Let's see an example to clearly understand the concept.

In [ ]:
"The format() method will addcthe format object within curley bracket{}".format({'include within curley bracket'})

## Location and Counting

In [ ]:
print(str1)
str1.count('a')

In [ ]:
str1.find("B")
#It will print the index of the first occurence of the letter

##Formatting
The center() method allows you to place your string 'centered' between a provided string with a certain length.

In [ ]:
str1.center(80,"i")

expandtabs() will expand tab notations \t into spaces. Let's see an example to understand the concept.

In [ ]:
"Hi James\tNice to meet you".expandtabs()

## is check methods
These various methods below check it the string is some case. Lets explore them:

In [4]:
l="welcome"

isalnum() will return "True" if all characters in S are alphanumeric.

In [5]:
l.isalnum()

True

isalpha() wil return "True" if all characters in S are alphabetic.

In [6]:
l.isalpha()

True

islower() will return "True" if all cased characters in S are lowercase and there is
at least one cased character in S, False otherwise.

In [7]:
l.islower()

True

isspace() will return "True" if all characters in S are whitespace.

In [10]:
l.isspace()

False

istitle() will return "True" if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [9]:
l.istitle()

False

isupper() will return "True" if all cased characters in S are uppercase and there is
at least one cased character in S, False otherwise.

In [11]:
l.isupper()

False

Another method is endswith() which is essentially same as a boolean check on s[-1]

In [16]:
l.endswith('e')

True

## Built-in Reg. Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.
•	Split() function is used to split the string at a certain element and return a list of the result.
•	Partition is used to return a tuple that includes the separator (the first occurrence), the first half and the end half.

In [17]:
l.split('e')

['w', 'lcom', '']

In [18]:
l.partition('e')

('w', 'e', 'lcome')

In [19]:
#The above statements will not affect the original string
l

'welcome'

# Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [20]:
# Assign a list to an variable named my_list
my_list=[10,20,30,40,50]
my_list

[10, 20, 30, 40, 50]

We just created a list of integers, but lists can actually hold different object types. For example:

In [21]:
mix_list=[10,'Rahul',20.5,'Sandeep',24,47]
mix_list

[10, 'Rahul', 20.5, 'Sandeep', 24, 47]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [23]:
print(len(my_list))
len(mix_list)

5

6

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [26]:
print(my_list)
my_list[3]

[10, 20, 30, 40, 50]

40

In [27]:
# Grab element at index 0
mix_list[0]

10

In [28]:
# Grab index 1 and everything past it
mix_list[1:]

['Rahul', 20.5, 'Sandeep', 24, 47]

In [29]:
# Grab everything UP TO index 3
mix_list[:3]

[10, 'Rahul', 20.5]

We can also use "+" to concatenate lists, just like we did for Strings.

In [33]:
mix_list+['Kiran']

[10, 'Rahul', 20.5, 'Sandeep', 24, 47, 'Kiran']

Note: This doesn't actually change the original list!

In [34]:
mix_list

[10, 'Rahul', 20.5, 'Sandeep', 24, 47]

In this case, you have to reassign the list to make the permanent change.

In [40]:
# Reassign
mix_list=mix_list+['Kiran']
mix_list

[10, 'Rahul', 20.5, 'Sandeep', 24, 'Kiran', 'Kiran']

In [41]:
mix_list

[10, 'Rahul', 20.5, 'Sandeep', 24, 'Kiran', 'Kiran']

We can also use the * for a duplication method similar to strings:

In [42]:
# Make the list double
mix_list*2

[10,
 'Rahul',
 20.5,
 'Sandeep',
 24,
 'Kiran',
 'Kiran',
 10,
 'Rahul',
 20.5,
 'Sandeep',
 24,
 'Kiran',
 'Kiran']

In [43]:
# Again doubling not permanent
mix_list

[10, 'Rahul', 20.5, 'Sandeep', 24, 'Kiran', 'Kiran']

## Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)
b. They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

In [45]:
# Create a new list
item_list=['car',10,'bike',30,'airoplane',40,'bicycle']
item_list

['car', 10, 'bike', 30, 'airoplane', 40, 'bicycle']

Use the **append** method to permanently add an item to the end of a list:

In [46]:
# Append
item_list.append(80)

In [47]:
# Show
item_list

['car', 10, 'bike', 30, 'airoplane', 40, 'bicycle', 80]

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [48]:
# Pop off the 0 indexed item
item_list.pop(0)

'car'

In [49]:
# Show
item_list

[10, 'bike', 30, 'airoplane', 40, 'bicycle', 80]

In [52]:
# Assign the popped element, remember default popped index is -1
element_pop=item_list.pop()

In [54]:
element_pop

80

In [56]:
# Show remaining list
item_list

[10, 'bike', 30, 'airoplane', 40, 'bicycle']

Note that lists indexing will return an error if there is no element at that index. For example:

In [57]:
item_list[10]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [60]:
number_list=[30,68,25,10,86,27.43,67]
number_list.sort()

In [61]:
#Show
number_list

[10, 25, 27.43, 30, 67, 68, 86]

In [62]:
# Use reverse to reverse order (this is permanent!)
item_list.reverse()

In [63]:
item_list

['bicycle', 40, 'airoplane', 30, 'bike', 10]

In [64]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
alphabetic=['d','s','r','a','e','f']
alphabetic.sort()

In [65]:
alphabetic

['a', 'd', 'e', 'f', 'r', 's']

## Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [66]:
# Let's make three lists
list_1=[10,20,30,40]
list_2=[50,60,70,80]
list_3=[90,100,120,130]
# Make a list of lists to form a matrix
new_list=[list_1,list_2,list_3]

In [67]:
# Show
new_list

[[10, 20, 30, 40], [50, 60, 70, 80], [90, 100, 120, 130]]

We can re-use indexing to grab elements, but now there are two levels for the index. 

a. The items in the matrix object
b. The items inside the list

In [68]:
# Grab first item in matrix object
new_list[0]

[10, 20, 30, 40]

In [69]:
# Grab first item of the first item in the matrix object
new_list[0][0]

10

# List Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 

Before we try to understand list comprehensions completely we need to understand "for" loops. 

So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

Here are few of oue examples which helps you to understand list comprehensions.

In [70]:
# Build a list comprehension by deconstructing a for loop within a []
first_col=[row[0] for row in new_list]

In [71]:
first_col

[10, 50, 90]

# Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [75]:
ls=[10,30,20,30,67,30,48]

## append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [76]:
ls.append(70)
ls

[10, 30, 20, 30, 67, 30, 48, 70]

## count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [77]:
ls.count(30)

3

In [78]:
ls.count(20)

1

## extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [80]:
print(ls)
ls.append([90,100])
ls

[10, 30, 20, 30, 67, 30, 48, 70, 100]

[10, 30, 20, 30, 67, 30, 48, 70, 100, [90, 100]]

**extend: extends list by appending elements from the iterable**

In [81]:
s=[40,20,27,49,25]
s.extend([10,38,59])
print(s)

[40, 20, 27, 49, 25, 10, 38, 59]

Note how extend append each element in that iterable. That is the key difference.

## index

index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [83]:
print(s.index(59))
s.index(25)

7

4

In [84]:
s.index85

AttributeError: 'list' object has no attribute 'index85'

## insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

In [85]:
alpha=['a','b','d','e','f','g']
alpha

['a', 'b', 'd', 'e', 'f', 'g']

In [86]:
# Place a letter at the index 2
alpha.insert(2,'c')

In [87]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [89]:
popped=alpha.pop(5)

In [90]:
alpha

['a', 'b', 'c', 'd', 'e', 'g']

In [91]:
popped

'f'

## remove
The remove() method removes the first occurrence of a value. For example:

In [102]:
alphanumeric=[10,20,10,'a','d',40,'a',10,'t','a']

In [103]:
alphanumeric.remove(10)

In [104]:
alphanumeric

[20, 10, 'a', 'd', 40, 'a', 10, 't', 'a']

In [96]:
alpha.remove('c')

In [98]:
alpha

['a', 'b', 'd', 'e', 'g']

In [105]:
alphanumeric.remove('a')

In [106]:
alphanumeric

[20, 10, 'd', 40, 'a', 10, 't', 'a']

## reverse
As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [108]:
alpha.reverse()
alphanumeric.reverse()

In [109]:
print(alpha)
print(alphanumeric)

['a', 'b', 'd', 'e', 'g']
['a', 't', 10, 'a', 40, 'd', 10, 20]

## sort
sort will sort your list in place:

In [110]:
num=[10,5,20,4,13,50,83]
num

[10, 5, 20, 4, 13, 50, 83]

In [111]:
num.sort()

In [112]:
num

[4, 5, 10, 13, 20, 50, 83]